.App {
  text-align: center;
  background-color: rgb(29, 41, 50);
  min-height: 100vh;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(25, 36, 45);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  font-weight: bold;
  color: rgb(6, 193, 104);
  padding: 10px;
}

.App-link {
  color: #61dafb;
}
  
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Filters {
  padding-top: 50px;
  gap: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Time{
  background-color: rgb(29, 41, 50);
  color: white;
}

#generate-btn {
  background-color: rgb(6, 193, 104);
  color: white;
  padding: 10px 20px;
  border: none;
  margin: 100px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Arvo', serif;
}