
.Loading-Container {
    display: flex;
    justify-content: left;
    align-items: center;
    vertical-align: center;
    height: 100vh;  
  }

.Loading {
  width: 100px;
  height: 100px;
  /* Center the component horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: rgb(25, 36, 45);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(6, 193, 104);
} 

.Profile {
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}


.introduction {
  margin: 50px;
  padding: 20px;
  border: 4px solid rgb(255, 255, 255);
  color: rgb(219, 172, 52);
}

.columns {
  display: flex;
  gap: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.DishName {
  align-items: center;
  font-size: xx-large;
  width: 450px;
}
.Picture {
  background-color: aliceblue;
  width: 310px;
  height: 310px;
}

.EndingTime {
  text-align: right;
  padding-right: 120px;
  padding-top: 20px;
}

.description {
  border: 2px solid rgb(255, 255, 255);
  color: rgb(219, 172, 52);
  margin: 50px;
}

.Ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  padding: 50px;
  padding-bottom: 0px;
}

.IngredientLine {
  padding: 10px;
}

.StepLine {
  padding-top: 10px;
}

.steps-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 50px;
}

.Nutrition {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 50px;
  padding-top: 0px;
}

.NutritionLine {
  padding-top: 10px;
}