
.Loading-Container {
    display: flex;
    justify-content: left;
    align-items: center;
    vertical-align: center;
    height: 100vh;  
  }

.Loading {
  width: 100px;
  height: 100px;
  /* Center the component horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: rgb(25, 36, 45);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(6, 193, 104);
} 

.Profile {
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

.Picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.DishName {
  align-items: center;
  
}

.EndingTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.Steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Nutrition {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}