.Loading-Container {
    display: flex;
    justify-content: left;
    align-items: center;
    vertical-align: center;
    height: 100vh;
  }

.Loading {
  width: 400px;
  height: 400px;
  /* Center the component horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Profile {
    align-items: center;
}